@media all {
    .blog-card {
        margin-bottom: 1rem;
        padding: 0;

        .card-header {
            font-size: $font-size-lg;
        }

        .card-body {
            padding: 0;
        }
    }

    .blog-content {
        img {
            max-width: 100%;
        }
    }

    .blog-posts {
        .blog-post {
            transition: background-color .3s;
            will-change: background-color;

            &:hover {
                background-color: rgba(0, 0, 0, 0.03);
            }
        }

        & > div:not(.blog-post) {
            padding: 1.25rem;
        }

        nav {
            align-items: center;
            display: flex;
            justify-content: center;
            padding: .75rem;

            .card-body {
                padding: 0;
            }

            .pagination {
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 0;
            }

            .page-link {
                border: 0;
            }
        }

        .blog-post {
            border-bottom: 1px dotted #ddd;
            padding: 1.25em;
        }

        .blog-post-info {
            align-items: center;
            display: flex;
            flex-direction: row;
        }

        .blog-post-category {
            font-size: $font-size-lg * .8;
            font-weight: bold;
        }

        .blog-post-date {
            margin-left: auto;
        }

        .blog-post-avatar {
            margin-left: 1rem;
            height: 32px;
            width: 32px;

            img {
                border-radius: 50%;
                height: 100%;
                transition: box-shadow .3s;
                width: 100%;
                will-change: box-shadow;
            }

            &:active img,
            &:hover img,
            &:focus img {
                box-shadow: 0 0 10px rgba(0, 0, 0, .6);
            }
        }

        .blog-post-title {
            font-size: $font-size-lg * .8;

            @include media-breakpoint-up(md) {
                font-size: $font-size-lg;
            }
        }

        .blog-post-annotation {
            margin-top: 1rem;
        }

        .blog-post-annotation:empty,
        .blog-post-content:empty {
            display: none;
        }

        .blog-post-annotation figure[data-trix-content-type=image],
        .blog-post-content figure[data-trix-content-type=image] {
            text-align: center;
        }

        .blog-post-annotation img,
        .blog-post-content img {
            height: auto;
        }

        .blog-post-read-next::after {
            content: "→";
            margin-left: 5px;
        }

        .blog-post-title:not(:last-child),
        .blog-post-annotation:not(:last-child),
        .blog-post-content:not(:last-child),
        .blog-post-tags:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    .blog-comment {
        display: flex;
        border-bottom: 1px dotted #ddd;
        padding: 1.25rem;
        transition: background-color .3s;
        will-change: background-color;

        &:hover {
            background-color: rgba(0, 0, 0, 0.03);
        }
    }

    .blog-comment-avatar {
        border-radius: 50%;
        margin-right: 1rem;
        max-height: 48px;
        max-width: 48px;

        @include media-breakpoint-down(xs) {
            max-height: 32px;
            max-width: 32px;
        }
    }

    .blog-comment-body {
        flex: 1;
        max-width: calc(100% - 48px - 1.25rem);
    }

    .blog-comment-info {
        display: flex;
        margin-bottom: .5rem;
    }

    .blog-comment-author {
        font-weight: bold;
    }

    .blog-comment-date {
        margin-left: auto;

        @include media-breakpoint-down(xs) {
            display: none;
        }
    }

    .blog-comment-link {
        margin-left: 1rem;

        @include media-breakpoint-down(xs) {
            margin-left: auto;
        }
    }

    .blog-comment-content {
        margin-bottom: .5rem;

        div br:last-child {
            display: none;
        }
    }

    .blog-comment-reply-link,
    .blog-comment-quote-reply-link {
        display: inline-block;
        margin-right: .5rem;
    }

    .blog-comment-controls {
        display: flex;
        flex-wrap: wrap;

        a {
            margin-right: .5rem;
        }

        @include media-breakpoint-down(xs) {
            font-size: $font-size-sm;
        }
    }

    .blog-comment-content,
    .blog-comment-form-editor {
        blockquote {
            border-left: 3px solid var(--primary, #007bff);
            margin: .5rem 0 .5rem 0;
            padding-left: .75rem;
        }

        img {
            margin: .5rem 0 .5rem 0;
        }

        iframe {
            margin: .5rem 0 .5rem 0;
            width: 100%;
            height: 350px;

            @include media-breakpoint-down(xs) {
                height: auto;
            }
        }
    }

    .blog-comment-form {
        flex: 1;

        .blog-comment-form-body {
            flex: 1;
            max-width: calc(100% - 48px - 1.25rem);
        }

        .blog-comment-form-toolbar {
            display: flex;
            padding-bottom: .25rem;

            button {
                border: 0;
                background-color: transparent;
                font-size: 0;
                height: 32px;
                width: 32px;
                padding: .5rem;
                outline: none;


                &:active, &:focus, &:hover {
                    background-color: rgba(0, 0, 0, 0.03);
                }

                &:active {
                    background-color: var(--primary, #007bff);
                }
            }

            span:empty {
                border-left: 1px solid #dee2e6;
            }
        }

        .blog-comment-form-editor {
            background-color: white;
            border: 1px solid #dee2e6;
            margin-bottom: .5rem;
            height: auto;
            min-height: 100px;
            padding: .5rem;
        }

        .blog-comment-form-notice {
            color: var(--danger, #dc3545);
            margin-bottom: .5rem;
        }
    }

    .blog-sidebar {
        .blog-search {
            padding: 1.25rem;

            .form-group:last-child {
                margin-bottom: 0;
            }
        }

        .blog-post-title,
        .blog-post-category {
            font-size: 1em;
        }

        .blog-categories {
            display: flex;
            flex-direction: column;
            padding: 1.25rem;

            .blog-category::before {
                content: "→";
                margin-right: 5px;
            }
        }

        .blog-tags {
            display: flex;
            flex-wrap: wrap;
            padding: 1.25rem;

            .blog-tag {
                margin-right: .8rem;
                text-transform: lowercase;
            }
        }
    }
}
