@media all {
    .blog-card {
        margin-bottom: 1rem;
        padding: 0;

        .card-body {
            padding: 0;
        }
    }

    .blog-post {
        border-bottom: 1px dotted #ddd;
        padding: 1.25rem;

        .blog-post-info {
            align-items: center;
            display: flex;
            flex-direction: row;
        }

        .blog-post-category {
            font-size: 1.2rem;
            font-weight: bold;
        }

        .blog-post-date {
            margin-left: auto;
        }

        .blog-post-avatar {
            margin-left: 1rem;
            height: 32px;
            width: 32px;

            img {
                border-radius: 50%;
                height: 100%;
                transition: box-shadow .3s;
                width: 100%;
                will-change: box-shadow;
            }

            &:active img,
            &:hover img,
            &:focus img {
                box-shadow: 0 0 10px rgba(0, 0, 0, .6);
            }
        }

        .blog-post-title {
            font-size: 1.5rem;
        }

        .blog-post-annotation {
            margin-top: 1rem;
        }

        .blog-post-annotation:empty,
        .blog-post-content:empty {
            display: none;
        }

        .blog-post-annotation figure[data-trix-content-type=image],
        .blog-post-content figure[data-trix-content-type=image] {
            text-align: center;
        }

        .blog-post-annotation img,
        .blog-post-content img {
            height: 100%;
            max-width: 100%;
        }

        .blog-post-read-next::after {
            content: "→";
            margin-left: 5px;
        }

        .blog-post-title:not(:last-child),
        .blog-post-annotation:not(:last-child),
        .blog-post-content:not(:last-child),
        .blog-post-tags:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    .blog-post-list {
        .blog-post {
            transition: background-color .3s;
            will-change: background-color;
        }

        .blog-post:hover {
            background-color: rgba(0, 0, 0, 0.03);
        }

        nav {
            align-items: center;
            display: flex;
            justify-content: center;
            padding: .75rem;

            .card-body {
                padding: 0;
            }

            .pagination {
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 0;
            }

            .page-link {
                border: 0;
            }
        }
    }

    .blog-sidebar {
        .blog-post-title {
            font-size: 1.2rem;
        }

        .blog-search {
            padding: 1.25rem;

            .form-group:last-child {
                margin-bottom: 0;
            }
        }

        .blog-post-categories {
            display: flex;
            flex-direction: column;
            padding: 1.25rem;
        }

        .blog-post-categories-item::before {
            content: "→";
            margin-right: 5px;
        }

        .blog-post-tags {
            display: flex;
            flex-wrap: wrap;
            padding: 1.25rem;
        }

        .blog-post-tags-item {
            margin-right: .8rem;
            text-transform: lowercase;
        }
    }
}
